{{#section 'css'}}
<link rel="stylesheet" href="/public//css//_login.css">
{{/section}}
{{#section 'js'}}
<script type="text/javascript">
    $('#frmChangePass').submit(function (e) {
        e.preventDefault();
        if (validate() == 1) {

            // remove all error before 
            $('#txtValidate').empty();
            // add error text
            let error = $("<p></p>").append("<i class='fa fa-exclamation-triangle' aria-hidden='true'>&nbsp;</i>Mật khẩu mới không khớp !");
            $('#txtValidate').append(error);
            if ($('#txtValidate').hasClass('d-none'))
                $('#txtValidate').removeClass('d-none')
        }
        else if (validate() == 2) {
            // remove all error before 
            $('#txtValidate').empty();
            // add error text
            let error = $("<p></p>").append("<i class='fa fa-exclamation-triangle' aria-hidden='true'>&nbsp;</i>Mật khẩu phải có ít nhất 6 kí tự !");
            $('#txtValidate').append(error);
            if ($('#txtValidate').hasClass('d-none'))
                $('#txtValidate').removeClass('d-none')
        }
        else {
            if ($('#txtValidate').hasClass('d-none') == false)
                $('#txtValidate').addClass('d-none')
            $('#frmChangePass').off('submit').submit();
        }
    });
    function validate() {
        let newpass = $('#inputPassword').val();
        let repass = $('#inputFirmPassword').val();
        if (newpass != repass)
            return 1;
        if (newpass.length < 6) {
            return 2;
        }
    }
</script>
{{/section}}

<div class="demo-1">
    <div class="main-agileits">
        <!--form-stars-here-->
        <div class="form-w3-agile">
            <h2>Cập nhật mật khẩu</h2>

            {{#if err}}
            <h3 class="alert">
                <p>
                    <i class='fa fa-exclamation-triangle' aria-hidden='true'>&nbsp;</i>
                    {{err}}
                <p>
            </h3>
            {{/if}}
            <h4 id="txtValidate" class="alert d-none">

            </h4>
            <form id="frmChangePass" action="" method="POST" novalidate>
                <label for="oldPassword" style="color: white;">Mật khẩu cũ</label>
                <div class="form-sub-w3">
                    <input type="password" id="oldPassword" name="old_password"
                        placeholder="Old password" autofocus required="">
                    <div class="icon-w3">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                </div>
                <label for="inputPassword" style="color: white;">Mật khẩu mới</label>
                <div class="form-sub-w3">
                    <input type="password" id="inputPassword" name="new_password"
                        placeholder="Password" required="">
                    <div class="icon-w3">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                </div>
                <label for="inputFirmPassword" style="color: white;">Xác nhận mật khẩu</label>
                <div class="form-sub-w3">
                    <input type="password" id="inputFirmPassword" name="firm_password"
                        placeholder="Password" require="">
                    <div class="icon-w3">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                </div>
                <hr class="my-4">
                <div class="submit-w3l">
                    <input id="btnChangePass" type="submit" value="Xác nhận" formaction="/pass/change">
                </div>             
            </form>
        </div>
        <!--//form-ends-here-->
    </div>
</div>