{{#section 'css'}}
<link rel="stylesheet" href="/public//css//_login.css">
{{/section}}
<div class="demo-1">
    <div class="main-agileits">
        <!--form-stars-here-->
        <div class="form-w3-agile">
            <h2>Quên mật khẩu</h2>

            {{#if err}}
            <h3 class="alert">
                <p>
                    <i class='fa fa-exclamation-triangle' aria-hidden='true'>&nbsp;</i>
                    {{err}}
                <p>
            </h3>
            {{/if}}
            <h4 id="txtValidate" class="alert d-none"></h4>
            <form action="/pass/forgot" method="POST" novalidate>
                {{!-- <label for="oldPassword" style="color: white;">Tên đăng nhập</label> --}}
                <div class="form-sub-w3">
                    <input type="text" id="inputUsername" name="username" placeholder="User name"
                        required="">
                    <div class="icon-w3">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="submit-w3l">
                    <input id="btnForgot" type="submit" value="Xác nhận" formaction="/pass/forgot">
                </div>  
            </form>

        </div>
        <!--//form-ends-here-->
    </div>
</div>