<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Magnews - Website tin tức Tổng hợp</title>
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/public/css/bootstrap.min.css" />
	

	<!-- Owl Carousel -->
	<link type="text/css" rel="stylesheet" href="/public/css/owl.carousel.css" />
	<link type="text/css" rel="stylesheet" href="/public/css/owl.theme.default.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/public/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/public/css/style.css" />
	<link type="text/css" rel="stylesheet" href="/public/css/style_of_mine.css">

</head>

<body>

	<!-- Center Header -->
	<!-- <div id="center-header">
		<div class="container">
			<div class="header-logo">
				<a href="#" class="logo"><img src="/public/img/logo.png" alt=""></a>
			</div>
			<div class="header-ads">
				<img class="center-block" src="/public/img/ad-2.jpg" alt="">
			</div>
		</div>
	</div> -->
	<!-- /Center Header -->
	<!-- Header -->
	<header id="header">
		<!-- Nav Header -->
		<div id="nav-header" class="fixed">
			<!-- Top Header -->
			<!-- <div id="top-header">
				<div class="container">
					<div class="header-links">
						<ul>
							<li><a href="#">About us</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Advertisement</a></li>
							<li><a href="#">Privacy</a></li>
							<li><a href="#"><i class="fa fa-sign-in"></i> Login</a></li>
						</ul>
					</div>

					<div class="header-social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>

				</div>
			</div> -->
			<div id="top-header" class="fixed shrink">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header m-head-right">
							<div class="navbar-brand text-center">
								<a href="#" class="logo"><img src="/public/img/logo.png" alt="MAGNEWS"></a>
							</div>
							<!-- {{{_sections.category}}} -->
							<!-- <div class="navbar-brand text-center">
									<h1 class="logo">Xã Hội</h1>
								</div> -->
							<button type="button" class="navbar-toggle collapsed logo" data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<i class="fa fa-bars" aria-hidden="true"></i>
							</button>
							<!-- <a class="navbar-brand" href="#">Brand</a> -->
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="main1-nav">
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li class="icon-head m-head-left active">
										<a href="#">
											<i class="fa fa-home icon-head" aria-hidden="true">&nbsp;</i>
											Trang Chủ
										</a>
									</li>
									<li class="icon-head ">
										<a href="#">
											<i class="fa fa-user-plus icon-head" aria-hidden="true">&nbsp;</i>
											Đăng Ký
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-sign-in icon-head" aria-hidden="true">&nbsp;</i>
											Đăng Nhập
										</a>
									</li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
											aria-haspopup="true" aria-expanded="false">
											<i class="fa fa-pencil-square-o icon-head" aria-hidden="true">&nbsp;</i>
											Phóng Viên
											<i class="fa fa-angle-double-down" aria-hidden="true"></i>
										</a>
										<ul class="dropdown-menu">
											<li><a href="#">
													<i class="fa fa-paper-plane-o" aria-hidden="true">&nbsp;</i>
													Đăng Bài Viết
												</a></li>
											<li><a href="#">
													<i class="fa fa-list" aria-hidden="true">&nbsp;</i>
													Danh Sách Bài Viết
												</a></li>
										</ul>

									</li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
											aria-haspopup="true" aria-expanded="false">
											<i class="fa fa-address-book-o icon-head" aria-hidden="true">&nbsp;</i>
											Biên tập viên
											<i class="fa fa-angle-double-down" aria-hidden="true">&nbsp;</i>
										</a>
										<ul class="dropdown-menu">
											<li><a href="#">
													<i class="fa fa-list" aria-hidden="true">&nbsp;</i>
													Danh Sách Bài Viết
												</a></li>
										</ul>

									</li>
								</ul>
								<ul class="nav navbar-nav navbar-right">
									<li class="dropdown account">
										<a href="#" class="dropdown-toggle account" data-toggle="dropdown" role="button"
											aria-haspopup="true" aria-expanded="false">
											<img class="avatar" src="/public/img/av-1.jpg" alt="avatar">
											Đỗ Công Khải
											<i class="fa fa-angle-double-down" aria-hidden="true"></i>
										</a>
										<ul class="dropdown-menu">
											<li>
												<a href="#">
													<i class="fa fa-user" aria-hidden="true">&nbsp;</i>
													Tài khoản người dùng
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-key" aria-hidden="true">&nbsp;</i>
													Đổi mật khẩu
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-sign-out" aria-hidden="true">&nbsp;</i>
													Đăng Xuất
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</div><!-- /.navbar-collapse -->
						</div>
					</div><!-- /.container-fluid -->
				</nav>
			</div>
			<!-- /Top Header -->
			<!-- seconds header -->
			<div id="second-header">
				<nav id="main-nav">
					<div class="nav-logo">
						<a href="#" class="logo"><img src="/public/img/logo-alt.png" alt=""></a>
					</div>
					<ul class="main-nav nav navbar-nav">
						{{#each listCat}}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
								role="button" aria-haspopup="true" aria-expanded="false">
								{{nameCat1}}
							</a>
							<ul class="dropdown-menu dropdownhover-bottom">
								{{#each list}}
								<li>
									<a href="#">
										{{nameCat2}}
									</a>
								</li>

								{{/each}}
							</ul>
						</li>
						{{/each}}
					</ul>
				</nav>
				<div class="button-nav">
					<button class="search-collapse-btn"><i class="fa fa-search"></i></button>
					<button class="nav-collapse-btn"><i class="fa fa-bars"></i></button>
					<div class="search-form">
						<form>
							<input class="input" type="text" name="search" placeholder="Search">
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- seconds header -->
		<!-- /Nav Header -->
	</header>
	<!-- /Header -->

	{{{body}}}
	<div style="min-height: 2000px;">

	</div>

	<!-- FOOTER -->
	<footer id="footer">
		<!-- Top Footer -->
		<div id="top-footer" class="section">
			<!-- CONTAINER -->
			<div class="container">
				<!-- ROW -->
				<div class="row">
					<!-- Column 1 -->
					<div class="col-md-4">
						<!-- footer about -->
						<div class="footer-widget about-widget">
							<div class="footer-logo">
								<a href="#" class="logo"><img src="/public/img/logo-alt.png" alt=""></a>
								<p class="about-des">
									Website tin tức tổng hợp cập nhật nhanh chóng các tin tức thời sự nổi bật được dư
									luận quan tâm, luôn mang đến cho độc giả các thông tin mới nhất, chính xác nhất và
									chân thực nhất
								</p>
							</div>
						</div>
						<!-- /footer about -->

						<!-- footer social -->
						<!-- <div class="footer-widget social-widget">
								<div class="widget-title">
									<h3 class="title">Follow Us</h3>
								</div>
								<ul>
									<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" class="google"><i class="fa fa-google"></i></a></li>
									<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
									<li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div> -->
						<!-- /footer social -->

						<!-- footer subscribe -->
						{{!-- <div class="footer-widget subscribe-widget">
							<div class="widget-title">
								<h2 class="title">Subscribe to Newslatter</h2>
							</div>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="input-btn">Subscribe</button>
							</form>
						</div> --}}
						<!-- /footer subscribe -->
					</div>
					<!-- /Column 1 -->

					<!-- Column 2 -->
					<div class="col-md-5">
						<!-- footer article -->
						<div class="footer-widget">
							<div class="widget-title">
								<h2 class="title">Featured Posts</h2>
							</div>

							<!-- ARTICLE -->
							<article class="article widget-article">
								<div class="article-img">
									<a href="#">
										<img src="/public/img/img-widget-1.jpg" alt="">
									</a>
								</div>
								<div class="article-body">
									<h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a>
									</h4>
									<ul class="article-meta">
										<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
										<li><i class="fa fa-comments"></i> 33</li>
									</ul>
								</div>
							</article>
							<!-- /ARTICLE -->

							<!-- ARTICLE -->
							<article class="article widget-article">
								<div class="article-img">
									<a href="#">
										<img src="/public/img/img-widget-2.jpg" alt="">
									</a>
								</div>
								<div class="article-body">
									<h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a>
									</h4>
									<ul class="article-meta">
										<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
										<li><i class="fa fa-comments"></i> 33</li>
									</ul>
								</div>
							</article>
							<!-- /ARTICLE -->

							<!-- ARTICLE -->
							<article class="article widget-article">
								<div class="article-img">
									<a href="#">
										<img src="/public/img/img-widget-3.jpg" alt="">
									</a>
								</div>
								<div class="article-body">
									<h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a>
									</h4>
									<ul class="article-meta">
										<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
										<li><i class="fa fa-comments"></i> 33</li>
									</ul>
								</div>
							</article>
							<!-- /ARTICLE -->
						</div>
						<!-- /footer article -->
					</div>
					<!-- /Column 2 -->

					<!-- Column 3 -->
					<div class="col-md-3">
						<div class="footer-widget social-widget">
							<div class="widget-title">
								<h3 class="title">About Us</h3>
							</div>
							<div class="widget-des">
								This website made by :
							</div>
							<ul>
								<li class="about-des">
									<p>Đỗ Công Khải - 1760330</p>
								</li>
								<li class="about-des">
									<p> Lê Ngọc Hiệp - 1760310</p>
								</li>
								<li class="about-des">
									<p> Trần Minh Khôi - 1760341</p>
								</li>
								<li class="about-des">
									<p> Nguyễn Thành Trí</p>
								</li>
							</ul>
						</div>
					</div>
					<!-- <div class="col-md-4"> -->
					<!-- footer galery -->
					<!-- <div class="footer-widget galery-widget">
							<div class="widget-title">
								<h2 class="title">Flickr Photos</h2>
							</div>
							<ul>
								<li><a href="#"><img src="/public/img/img-widget-3.jpg" alt=""></a></li>
								<li><a href="#"><img src="/public/img/img-widget-4.jpg" alt=""></a></li>
								<li><a href="#"><img src="/public/img/img-widget-5.jpg" alt=""></a></li>
								<li><a href="#"><img src="/public/img/img-widget-6.jpg" alt=""></a></li>
								<li><a href="#"><img src="/public/img/img-widget-7.jpg" alt=""></a></li>
								<li><a href="#"><img src="/public/img/img-widget-8.jpg" alt=""></a></li>
								<li><a href="#"><img src="/public/img/img-widget-9.jpg" alt=""></a></li>
								<li><a href="#"><img src="/public/img/img-widget-10.jpg" alt=""></a></li>
							</ul>
						</div> -->
					<!-- /footer galery -->

					<!-- footer tweets -->
					<!-- <div class="footer-widget tweets-widget">
							<div class="widget-title">
								<h2 class="title">Recent Tweets</h2>
							</div>
							<ul>
								<li class="tweet">
									<i class="fa fa-twitter"></i>
									<div class="tweet-body">
										<p><a href="#">@magnews</a> Populo tritani laboramus ex mei, no eum iuvaret
											ceteros euripidis <a href="#">https://t.co/DwsTbsmxTP</a></p>
									</div>
								</li>
							</ul>
						</div> -->
					<!-- /footer tweets -->
					<!-- </div> -->
					<!-- /Column 3 -->
				</div>
				<!-- /ROW -->
			</div>
			<!-- /CONTAINER -->
		</div>
		<!-- /Top Footer -->

		<!-- Bottom Footer -->
		<div id="bottom-footer" class="section">
			<!-- CONTAINER -->
			<div class="container">
				<!-- ROW -->
				<div class="row">
					<!-- footer links -->
					<!-- <div class="col-md-6 col-md-push-6">
						<ul class="footer-links">
							<li><a href="#">About us</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Advertisement</a></li>
							<li><a href="#">Privacy</a></li>
						</ul>
					</div> -->
					<!-- /footer links -->

					<!-- footer copyright -->
					<div class="col-md-12 text-center">
						<div class="footer-copyright">
							<span>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>document.write(new Date().getFullYear());</script>
								All rights reserved | This website is made by Students of FIT - HCMUS
							</span>
						</div>
					</div>
					<!-- /footer copyright -->
				</div>
				<!-- /ROW -->
			</div>
			<!-- /CONTAINER -->
		</div>
		<!-- /Bottom Footer -->
	</footer>
	<!-- /FOOTER -->

	<!-- Back to top -->
	<div id="back-to-top"></div>
	<!-- Back to top -->

	<!-- jQuery Plugins -->
	<script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/owl.carousel.min.js"></script>
	<script src="/public/js/main.js"></script>
	<script src="/public/js/boostrap-hover-dropdown.js"></script>

</body>

</html>