{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link type="text/css" rel="stylesheet" href="/public/css/style.css" />
<link type="text/css" rel="stylesheet" href="/public/css/style_of_mine.css">
<link type="text/css" rel="stylesheet" href="/public/css/_login.css">
{{/section}}

{{#section 'js'}}

<script>
    $('#inputDOB').datetimepicker({
        format: 'd/m/Y',
        timepicker: false,
        mask: true
    });
    //handling when btnSignIn submit
    $('#frmReg').submit(function (e) {
        e.preventDefault();

        if (validate() == 1) {

            // remove all error before 
            $('#txtValidate').empty();
            // add error text
            let error = $("<p></p>").append("<i class='fa fa-exclamation-triangle' aria-hidden='true'>&nbsp;</i>Vui lòng nhập thông tin !");
            $('#txtValidate').append(error);
            if ($('#txtValidate').hasClass('d-none'))
                $('#txtValidate').removeClass('d-none')
        }
        else if (confirm() == 1) {
            // remove all error before 
            $('#txtValidate').empty();
            // add error text
            let error = $("<p></p>").append("<i class='fa fa-exclamation-triangle' aria-hidden='true'>&nbsp;</i>Xác nhận mật khẩu không khớp !");
            $('#txtValidate').append(error);
            if ($('#txtValidate').hasClass('d-none'))
                $('#txtValidate').removeClass('d-none')
        }
        else if (validateEmail() == 1) {
            // remove all error before 
            $('#txtValidate').empty();
            // add error text
            let error = $("<p></p>").append("<i class='fa fa-exclamation-triangle' aria-hidden='true'>&nbsp;</i>Email không hợp lệ !");
            $('#txtValidate').append(error);
            if ($('#txtValidate').hasClass('d-none'))
                $('#txtValidate').removeClass('d-none')
        }
        else {
            if ($('#txtValidate').hasClass('d-none') == false)
                $('#txtValidate').addClass('d-none')
            $('#frmReg').off('submit').submit();
        }
    });

    function validate() {
        let name = $('#inputName').val();
        let pass = $('#inputPassword').val();
        let email = $('#inputEmail').val();
        let confpass = $('#inputConfPassword').val();
        let disName = $('#inputDName').val();
        if (!name || !pass || !email || !confpass || !disName)
            return 1;
    }

    function confirm() {
        let pass = $('#inputPassword').val();
        let confpass = $('#inputConfPassword').val();
        if (pass != confpass)
            return 1;
    }

    function validateEmail() {
        const regexEmail = /.+@[a-zA-Z]+\.[a-zA-Z]+/g;

        let regexE = new RegExp(regexEmail);

        let email = $('#inputEmail').val();

        if (!regexE.test(email))
            return 1;
    }
</script>

{{/section}}
<!-- main content -->
<div class="wrapper">
    <div class="demo-1">
        <div class="main-agileits reg adminreg">
            <!--form-stars-here-->
            <div class="form-w3-agile">
                <h2>Thêm tài khoản</h2>
                {{#if err}}
                <h3 class="alert">
                    <p>
                        <i class='fa fa-exclamation-triangle' aria-hidden='true'>&nbsp;</i>
                        {{err}}
                    <p>
                </h3>
                {{/if}}
                <h4 id="txtValidate" class="alert d-none"></h4>
                <form id="frmReg" action="/admin/user/add" method="post" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-sub-w3">
                                <input id="inputName" type="text" name="user_name" placeholder="UserName" autofocus />
                                <label for="inputName">UserName</label>
                                <div class="icon-w3">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="form-sub-w3">
                                <input id="inputPassword" type="password" name="password" placeholder="Password" />
                                <label>Password</label>
                                <div class="icon-w3">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="form-sub-w3">
                                <input id="inputConfPassword" type="password" placeholder="Confirm Password" />
                                <label>Confirm Password</label>
                                <div class="icon-w3">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-sub-w3">
                                <input id="inputDName" type="text" name="display_name" placeholder="Display name" />
                                <label>Display name</label>
                                <div class="icon-w3">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="form-sub-w3">
                                <input id="inputEmail" type="text" name="email" placeholder="Email" />
                                <label>Email</label>
                                <div class="icon-w3">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="form-sub-w3">
                                <input id="inputDOB" type="text" name="DOB" placeholder="DOB" />
                                <label>DOB</label>
                                <div class="icon-w3">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-sub-w3">
                                <select name="gender">
                                    <option value="0"><i class="fa fa-male" aria-hidden="true">&nbsp;</i> Nam
                                    </option>
                                    <option value="1"> <i class="fa fa-female" aria-hidden="true">&nbsp;</i> Nữ
                                    </option>
                                </select>

                                <label>Giới tính: </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-sub-w3">
                                <select name="permission">
                                    {{#each this.pers }}
                                    <option value="{{id}}">{{name}} </option>
                                    {{/each}}
                                </select>
                                <label>Quyền hạn: </label>
                            </div>
                        </div>
                    </div>
                    <hr class="mt1">
                    <div class="clear"></div>
                    <div class="submit-w3l">
                        <input id="btnSignIn" type="submit" value="Xác nhận">
                    </div>
                </form>
            </div>

            <!--//form-ends-here-->
        </div>
    </div>
</div>
<!-- end main content -->