{{#section 'css'}}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

{{/section}}

{{#section 'js'}}

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
    });
</script>

{{/section}}
<!-- main content -->
<div class="wrapper">
    <form method="POST">
        <label for="id">#</label>
        <input type="text" name="user" readonly value="{{this.Editor.id}}">
        <p style="color:navy;">Biên tập viên : {{this.Editor.display_name}}</p>
        <label for="post">Chọn chuyên mục</label>
        <select class="js-example-basic-single" name="category">
            {{#each this.Cat1 }}
            <option value="{{id}}" selected>{{name}}</option>
            {{/each}}
        </select>
        <hr>
        <a href="/admin/user" role="button" title="Back to List">
            <i class="fa fa-backward" aria-hidden="true"></i>
        </a>
        <button type="submit" formaction="/admin/user/addAssign/add">
            <i class="fa fa-check" aria-hidden="true"></i>
            Xác nhận
        </button>
    </form>
</div>
<!-- end main content -->