{{#section 'css'}}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

{{/section}}

{{#section 'js'}}

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
    });
</script>

{{/section}}
<!-- main content -->
<div class="wrapper">
    <form class="frm" action="/admin/user/addAssign/add" method="POST">
        <h4 class="title">Phân công chuyên mục</h4>
        <div class="form-group">
            <label for="id">ID User</label>
            <input type="text" name="user" readonly value="{{this.Editor.id}}">
        </div>
        <div class="form-group">
            <label for="">Tên Người dùng</label>
            <input type="text" name="display_name" id="" value="{{Editor.display_name}}" readonly>
        </div>
        <div class="form-group">
            <label for="post">Chọn chuyên mục</label>
            <select class="js-example-basic-single" name="category">
                {{#each this.Cat1 }}
                <option value="{{id}}" selected>{{name}}</option>
                {{/each}}
            </select>
            <hr>
            <div class="form-group d-flex">
                <a class="btn btn-primary" href="/admin/user" role="button" title="Back to List">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                </a>
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Xác nhận
                </button>
            </div>
    </form>
</div>
<!-- end main content -->