<!-- main content -->
<div class="wrapper">
    <h2 class="wellcome-title"> Chào mừng bạn đến với giao diện admin !</h2>
    <hr class="hr-card">
    <div class="card-body">
        <a href="/admin/category" class="card1">
            <i class="fa fa-list" aria-hidden="true"></i>
            <h3>Quản lý chuyên mục</h3>
        </a>
        <a href="/admin/tag" class="card1">
            <i class="fa fa-tags" aria-hidden="true"></i>
            <h3>Quản lý nhãn</h3>
        </a>
        <a href="/admin/post" class="card1">
            <i class="fa fa-book" aria-hidden="true"></i>
            <h3>Quản lý bài viết</h3>
        </a>
        <a href="/admin/user" class="card1">
            <i class="fa fa-users" aria-hidden="true"></i>
            <h3>Quản lý người dùng</h3>
        </a>
    </div>
</div>
<!-- end main content -->