:root {
  --primary-color: #4834d4;
  --success-color: #6ab04c;
  --warning-color: #f0932b;
  --danger-color: #eb4d4b;

  --light-color: #212529;
  --light-second-color: #727475;
  --light-background: #ffffff;
  --light-second-background: #f1f1f1;

  --dark-color: #909090;
  --dark-second-color: #f5f6fa;
  --dark-background: #23242d;
  --dark-second-background: #181818;

  --main-bg-color: var(--light-background);
  --second-bg-color: var(--light-second-background);
  --main-color: var(--light-color);
  --second-color: var(--light-second-color);
}

* {
  box-sizing: border-box;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: inherit !important;
}

.select2-container--open .select2-dropdown--above {
  border: 2px solid #0881a3;
}

.select2-container--open .select2-dropdown--below {
  border: 2px solid #0881a3;
}

.select2-results__option {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-width: 12px 8px 0 8px !important;
  border-color: #e43a19 transparent transparent transparent !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 20% !important;
  right: 3% !important;
}

.select2-container .select2-selection--single {
  height: fit-content !important;
  padding: 10px !important;
}

.select2-container--default .select2-selection--single {
  border: 2px solid #0881a3 !important;
}

.select2-container--default .select2-selection--single:focus {
  outline: none;
}

.frm hr {
  position: relative;
  transform: translateX(-7%);
  border-top: 2px solid #b5b5b5;
  margin-top: 30px;
  margin-bottom: 51px;
  width: 116%;
}

.form-group.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group.d-flex {
  margin-bottom: 0;
}

option.select-item {
  font-size: 16px !important;
  color: #fff !important;
  font-weight: 500;
}

.frm h4.title {
  color: #0881a3;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 8%;
}

.panel-heading h2 {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  text-indent: 15%;
}

form.frm label {
  position: static;
  display: block;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  text-indent: 5px;
  font-size: 18px;
  font-weight: 550;
  color: #0881a3;
  transition: all 0.2s linear;
}

form.frm {
  position: relative;
  background: #ffffff;
  width: 60%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #e43a19;
  border: 1px solid #e7e7e7;
  font-weight: 550;
  font-size: 20px;
  padding: 6% 5%;
  box-shadow: 0px 19px 11px 1px rgba(0, 0, 0, 0.21);
}

form.frm:after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 13px solid #e43a19;
  top: 100%;
  left: 0;
  border-radius: 0px 0px 3px 3px;
}

form.frm:before {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 13px solid #e43a19;
  top: 0;
  left: 0;
}

.foot {
  width: 90%;
  margin: auto;
}

.table > thead > tr {
  border-bottom: 4px solid #d0d0d0 !important;
}

table.table {
  border-collapse: collapse;
  display: table;
  border: 1px solid #dddddd;
  border-radius: 6px !important;
}

.panel {
  width: 90%;
  margin: auto;
  margin-bottom: 35px;
}

.panel-heading {
  display: flex;
  justify-content: space-between;
  padding: 11px;
  border: none;
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #e9e9e9 100%);
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 1px 0 white,
    inset 0 -1px 0 rgba(255, 255, 255, 0.7);
}

.wellcome-title {
  text-align: center;
  margin-top: 80px;
  font-size: 40px;
  font-weight: 550;
  text-transform: uppercase;
  color: #cf1b1b;
}

.wrapper {
  font-size: 16px;
  font-weight: 400;
}

td.text-right i.fa {
  padding: 17px;
}

/* .adminreg select:focus option {
  background: #fff;
  color: #000;
} */

/* .frm .adminreg .form-sub-w3 input:focus + label {
  top: 1.3rem;
} */

/* .frm .adminreg .form-sub-w3 input[type="password"] {
  border: 2px solid #fff;
  margin: 8px 0px 10px;
} */

body {
  font-family: "Montserrat", sans-serif;
  background: var(--main-bg-color);
  color: var(--main-color);
  margin: 0;
}

.navbar {
  background: var(--main-bg-color);
  color: var(--main-color);
  position: fixed;
  left: 0;
  width: 100%;
  border-radius: 0px;
  z-index: 101;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
}

.navbar.d-flex {
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0;
  margin-top: 0;
}

.navbar-nav.left-nav-item {
  width: 18%;
  margin-left: 2.2%;
}

.right-nav-item {
  display: flex;
  justify-content: space-between;
  width: 78%;
  margin-right: 2.2%;
  text-align: right;
}

.nav-link {
  float: left;
  height: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  color: var(--second-color);
  position: relative;
}

a.nav-link {
  padding: 0 !important;
  padding-top: 8px !important;
  padding-right: 15px !important;
}

.nav-link:hover {
  cursor: pointer;
}

.navbar-nav i {
  font-size: inherit;
}

.nav-right {
  margin-left: auto;
}

.navbar-search {
  position: relative;
  margin: auto;
  width: 50%;
}

.navbar-search input {
  background: var(--second-bg-color);
  border: none;
  padding: 12px 50px 12px 50px;
  width: 100%;
  outline: none;
  color: var(--main-color);
  border-radius: 20px;
}

.navbar-search i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: var(--second-color);
  cursor: pointer;
}

.logo {
  height: 60px;
  padding: 5px;
}

.avt img {
  width: 45px;
  height: 45px;
  border: 1px solid #a9a9a9;
  padding: 1px;
  border-radius: 50%;
  margin-right: 10px;
}

.avt {
  padding: 11px;
  padding-right: 0;
  font-size: 16px !important;
  font-weight: 500;
}

.navbar-badge {
  font-size: 0.6rem;
  padding: 2px 4px;
  font-weight: 300;
  position: absolute;
  right: 5px;
  top: 9px;
  color: #fff;
  background: var(--danger-color);
  border-radius: 5px;
}

.dropdown {
  position: relative;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown-menu {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  font-size: 16px;
  right: 0;
  top: 90%;
  background: var(--main-bg-color);
  width: fit-content;
  box-shadow: 0px 6px 16px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 3px 0px;
  border-radius: 8px;
  transform: translateX(-10px) translateY(1px);
  border: 0.125px solid var(--second-bg-color);
}

.dropdown-expand {
  display: flex;
}

.notification-menu {
  min-width: 380px;
}

.dropdown-menu-content {
  max-height: 500px;
  overflow-y: auto;
}

.dropdown-menu-item {
  width: 100%;
  display: flex;
  justify-content: start;
}

.dropdown-menu-link {
  padding: 10px 10px !important;
  width: 100%;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--main-color);
}

.dropdown-menu-link div {
  min-width: 82px;
  height: 50px;
  position: relative;
}

.dropdown-menu-link i {
  margin-right: 10px;
}

.dropdown-menu-link span {
  font-size: 15px;
  width: 298px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu-link span > span {
  font-size: 10px;
}

.dropdown-menu-link:hover {
  cursor: pointer;
  background: var(--second-bg-color);
}

.dropdown-menu > li > a:hover {
  border-radius: 0px;
}

.dropdown-menu-header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid var(--second-bg-color);
}

.dropdown-menu-footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid var(--second-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

.scrollbar-hover::-webkit-scrollbar {
  display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
  display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10rem;
  border: 1px solid var(--main-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

.wrapper {
  padding: 10px;
  margin-left: 82px;
  padding-top: 85px;
  padding-bottom: 35px;
  transition: margin-left 0.5s;
}

.sidebar {
  width: 82px;
  height: 100vh;
  position: fixed;
  margin-top: 65px;
  padding-top: 10px;
  background: var(--main-bg-color);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
  overflow: hidden;
  z-index: 100;
  transition: width 0.3s;
}

.sidebar:hover,
.sidebar-expand .sidebar {
  width: 15%;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.sidebar-nav-item {
  width: 100%;
}

.sidebar-nav-link {
  display: flex;
  align-items: center;
  color: var(--main-color);
  text-decoration: none;
}

.sidebar-nav-link i {
  font-size: 1.5rem;
  color: var(--second-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sidebar-nav-link div {
  min-width: 82px;
  height: 50px;
  position: relative;
}

.sidebar-nav-link:hover {
  background: var(--second-bg-color);
}

.sidebar-nav-link.active {
  background: var(--second-bg-color);
  color: var(--danger-color);
}

.sidebar-nav-link.active div {
  border-left: 5px solid var(--danger-color);
}

.sidebar-nav-link.active i {
  color: var(--danger-color);
  margin-left: -5px;
}

.sidebar-expand .wrapper {
  margin-left: 250px;
}
.btn {
  background-color: white;
  color: black;
  padding: 6px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 2.5 !important;
  cursor: pointer;
}

.frm .btn.btn-danger {
  margin-right: 10px;
}

.frm .btn.btn-success {
  width: 90%;
}

.frm .btn.btn-primary {
  width: 9%;
}

.d-flex a.btn:first-child {
  margin-right: 10px;
}

.d-inline-b a.btn {
  margin: 21px 8px;
}

.success {
  border-color: #4caf50;
  color: green;
}

.success:hover {
  background-color: #4caf50;
  color: white;
}
.frm input {
  width: 100%;
  padding: 12px 20px;
  margin: 11px 0;
  box-sizing: border-box;
  border: 2px solid #0881a3;
  border-radius: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.select2-search--dropdown .select2-search__field {
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #0881a3 !important;
  border-radius: 6px;
}

input[readonly] {
  background: #efefef;
}

input[type="submit"] {
  width: 100%;
  background-color: #fff;
  color: #363636;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
div.table-title {
  display: block;
  text-align: center;
  width: 100%;
  padding: 20px 0px;
}

.table-title h3 {
  color: #fd5e53;
  font-size: 30px;
  font-weight: 550;
  font-style: normal;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 12px;
}

/*** Table Styles **/

.table-fill {
  background: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  animation: float 5s infinite;
}

.table th {
  border-right: 1px solid #c1c3d1;
  font-size: 21px;
  font-weight: 600;
  padding: 15px 15px !important;
  text-align: center;
  vertical-align: middle !important;
  text-transform: capitalize;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.table th:last-child {
  border-right: none;
}

.table tr {
  border-top: 1px solid #c1c3d1;
  color: #666b85;
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.table tr:hover td {
  background: #f1f1f1;
}

.table tr:first-child {
  border-top: none;
}

.table tr:last-child {
  border-bottom: none;
}

/* tr:nth-child(odd) td {
  background: #f1f1f1;
} */

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 0px;
}

.table td.d-flex {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.table td.text-right.td-post {
  padding: 45px 10px;
}

/* tr:nth-child(odd):hover td {
  background: #4e5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
} */

.table td {
  background: #ffffff;
  text-align: justify;
  vertical-align: middle !important;
  font-size: 18px;
  font-weight: 500;
  border-right: 1px solid #c1c3d1;
}

.table td.d-inline-b {
  box-sizing: border-box;
}

.table td.text-right > a {
  width: 45%;
  height: 100%;
  text-align: center;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #b3b2b2;
}

.table td:last-child {
  border-right: 0px;
}

.table td.d-inline-b {
  display: flex;
  justify-content: space-between;
  min-height: 116px;
}

.table th.text-left {
  text-align: left;
}

.table th.text-center {
  text-align: center;
}

.table th.text-right {
  text-align: right;
}

.table td.text-left {
  text-align: left;
}

.table td.text-center {
  text-align: center;
}

.table td.text-right {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.table td.text-right a:hover {
  border: 1px solid transparent;
  color: #fff;
  background: #16c216 !important;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #0881a3;
  border-radius: 4px;
  background-color: #fbfbfb;
  font-size: 16px;
  resize: none;
}

select {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 10px;
  -moz-appearance: none;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-bottom-color 0.3s ease;
}

.frm select {
  border: 2px solid #1abb9c;
  border-radius: 6px;
  color: #04886f !important;
  margin: 11px 0px;
}

/* For IE <= 11 */
select::-ms-expand {
  display: none;
}

.select-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 30px;
  height: 36px;
  pointer-events: none;
  border: 2px solid #962d22;
  padding-left: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.select-icon svg.icon {
  transition: fill 0.3s ease;
  fill: white;
}

.frm select:hover,
.frm select:focus {
  color: #fff !important;
  background: #1abb9c;
  outline: none;
}
