<!-- main content -->
<div class="wrapper">
    <form action="" method="POST">
        <label for="name">Tên nhãn</label>
        <input type="text" id="name" name="name" autofocus required>
        <label for="name">Mô tả</label>
        <textarea placeholder="Viết gì đó..." name="des"></textarea>
        <a href="/admin/category" role="button" title="Back to List">
            <i class="fa fa-backward" aria-hidden="true"></i>
        </a>
        <input type="submit" value="Thêm">
    </form>
</div>
<!-- end main content -->