{{#section 'css'}}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

{{/section}}

{{#section 'js'}}

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
    });
</script>

{{/section}}
<!-- main content -->
<div class="wrapper">
    <form method="POST">
        <label for="id">#</label>
        <input type="text" name="tag" readonly value="{{this.tag.id}}">
        <p>Tên nhãn : {{this.tag.name}}</p>
        <label for="post">Chọn bài viết</label>
        <select class="js-example-basic-single" name="post">
            {{#each this.posts }}
            <option value="{{id}}">{{title}}</option>
            {{/each}}
        </select>

        <hr>
        <a href="/admin/tag" role="button" title="Back to List">
            <i class="fa fa-backward" aria-hidden="true"></i>
        </a>
        <button type="submit" formaction="/admin/tag_post/add">
            <i class="fa fa-check" aria-hidden="true"></i>
            Gắn nhãn
        </button>
    </form>
</div>
<!-- end main content -->