<!-- main content -->
<div class="wrapper">
    <form id="frmEditCat" method="POST">
        <label for="id">#</label>
        <input type="text" id="txtCatID" name="id" readonly value="{{this.tag.id}}">
        <label for="name">Tên nhãn</label>
        <input type="text" id="name" name="name" value="{{this.tag.name}}" autofocus required>
        <textarea name="des">{{this.tag.des}}</textarea>
        <hr>
        <a href="/admin/category" role="button" title="Back to List">
            <i class="fa fa-backward" aria-hidden="true"></i>
        </a>
        {{#if this.tag.delete}}
        <button type="submit" title="Khôi phục" formaction="/admin/tag/restore">
            <i class="fa fa-undo" aria-hidden="true"></i>
        </button>
        {{/if}}
        <button type="submit" title="Xóa thể loại" formaction="/admin/tag/del">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        <button type="submit" formaction="/admin/tag/update">
            <i class="fa fa-check" aria-hidden="true"></i>
            Lưu
        </button>
    </form>
</div>
<!-- end main content -->