{{#section 'css'}}
<link rel="stylesheet" href="/public//css/_login.css">
{{/section}}

{{#section 'js'}}
<div class="content-body">
    <div class="title-editor">
        <h4>Thông Tin Tài Khoản</h4>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h2>Thông tin chi tiết</h2>
        </div>
        <form id="frmEditor" class="frmEditor" action="/user/profile" method="post">
            <div class="form-group">
                <label for="">Ảnh đại diện</label>
                <img src="" alt="" srcset="">
            </div>
            <div class="form-group">
                <label for="">Tên Hiển Thị</label>
                <input type="text" name="display_name" id="display_name" value="{{_user.display_name}}">
            </div>
            <div class="form-group">
                <label for="">Ngày sinh</label>
                <input type="text" name="DOB" id="DOB">{{parseTime _user.DOB}}</input>
            </div>
            <div class="form-group">
                <label for="">Giới tính</label>
                <select name="gender" id="gender">
                    {{#if _user.gender}}

                    <option value="0">Nam</option>
                    <option value="1" selected>Nữ</option>
                    {{else}}
                    <option value="0" selected>Nam</option>
                    <option value="1">Nữ</option>
                    {{/if}}
                </select>
            </div>
            <div class="form-group">
                <label for="">email</label>
                <textarea type="text" name="email" id="email">{{_user.email}}</textarea>
            </div>
            <hr>
            <div class="form-group flex">
                <a class="btn btn-primary" href="/editor">
                    <i class="fa fa-backward" aria-hidden="true">&nbsp;</i>
                    Quay lại
                </a>
                <button class="btn btn-danger" id="btnTuChoi">
                    <i class="fa fa-ban" aria-hidden="true">&nbsp;</i>
                    Từ chối
                </button>
                <button class="btn btn-danger d-none" type="submit" id="btnTuChoiDY" formaction="/editor/deny">
                    <i class="fa fa-ban" aria-hidden="true">&nbsp;</i>
                    Đồng ý Từ chối
                </button>
                <button class="btn btn-success" id="btnPheDuyet">
                    <i class="fa fa-check" aria-hidden="true">&nbsp;</i>
                    Phê Duyệt
                </button>
                <button class="btn btn-success d-none" type="submit" id="btnPheDuyetDY">
                    <i class="fa fa-check" aria-hidden="true">&nbsp;</i>
                    Đồng ý Phê Duyệt
                </button>
            </div>
        </form>
    </div>
</div>