{{#section 'css'}}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{{/section}}

{{#section 'js'}}


<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
    });
</script>

{{/section}}
<!-- main content -->
<div class="wrapper">
    <form class="frm" method="POST">
        <h4 class="title">Gán nhãn bài viết</h4>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" name="post" readonly value="{{this.post.id}}">
        </div>
        <div class="form-group">
            <label for="">Tiêu đề bài viết</label>
            <textarea type="text" name="" id="" rows="4" readonly>{{this.post.title}}</textarea>
        </div>
        <div class="form-group">
            <label>Chọn nhãn</label>
            <select name="tag" class="js-example-basic-single">
                {{#each this.tags }}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <hr>
        <div class="form-group d-flex">
            <a class="btn btn-primary" href="/admin/post" role="button" title="Back to List">
                <i class="fa fa-backward" aria-hidden="true"></i>
            </a>
            <button class="btn btn-success" type="submit" formaction="/admin/tag_post/add">
                <i class="fa fa-check" aria-hidden="true"></i>
                Lưu
            </button>
    </form>
</div>
<!-- end main content -->