<!-- main content -->
<div class="wrapper">
    <form id="frmAddCat" action="" method="POST" onvalidate>
        <label for="name">Tên thể loại</label>
        <input type="text" id="name" name="name" autofocus required>
        <a href="/admin/category" role="button" title="Back to List">
            <i class="fa fa-backward" aria-hidden="true"></i>
        </a>
        <input type="submit" value="Thêm">
    </form>
</div>
<!-- end main content -->