<!-- main content -->
<div class="wrapper">
    <form action="/admin/categorylv2/add" method="POST">
        <label for="name">Tên thể loại cấp 2</label>
        <input type="text" id="name" name="name" autofocus required>
        <label for="category_level1">Thể loại cấp 1 : {{this.catLv1.name}}</label>
        <input type="text" id="catID1" name="category_level1" value="{{this.catLv1.id}}" readonly>
        <a href="/admin/category" role="button" title="Back to List">
            <i class="fa fa-backward" aria-hidden="true"></i>
        </a>
        <input type="submit" value="Thêm">
    </form>
</div>
<!-- end main content -->