{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
{{/section}}
<!-- main content -->
<div class="wrapper">
    <form id="frmEditCat" method="POST" onvalidate>
        <label for="id">#</label>
        <input type="text" id="txtCatID" name="id" readonly value="{{this.category.id}}">
        <label for="name">Tên thể loại</label>
        <input type="text" id="name" name="name" value="{{this.category.name}}" autofocus required>
        <a href="/admin/category" role="button" title="Back to List">
            <i class="fa fa-backward" aria-hidden="true"></i>
        </a>
        {{#if this.category.delete}}
        <button type="submit" title="Khôi phục" formaction="/admin/category/restore">
            <i class="fa fa-undo" aria-hidden="true"></i>
        </button>
        {{/if}}
        <button type="submit" title="Xóa thể loại" formaction="/admin/category/del">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        <button type="submit" formaction="/admin/category/update">
            <i class="fa fa-check" aria-hidden="true"></i>
            Lưu
        </button>
    </form>
</div>
<!-- end main content -->